.App {
  text-align: center;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.MovieList {
  background-color: black;
}

.MovieList-Header {
  font-size: 75px;
  font-family: 'Bungee Shade', cursive;
  color: white;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 0px;
}

.MovieItem-Card {
  margin: 10px;
}

.MovieItem-Poster {
  border-color: grey;
  border-style: solid;
  border-width: 1px;
}

.MovieItem-Icon {
  display: flex;
  flex-direction: row-reverse;
}