.App {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.MovieList {
  text-align: center;
  background-color: black;
}

.MovieList-Header {
  font-size: 75px;
  font-family: 'Bungee Shade', cursive;
  color: white;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 0px;
}

.MovieItem-Card {
  margin: 10px;
}

.MovieItem-Poster {
  border-color: grey;
  border-style: solid;
  border-width: 1px;
}

.MovieItem-Icon {
  display: flex;
  flex-direction: row-reverse;
}

.Details-Description {
  padding: 20px;
}

.Details-DescriptionContainer {
  margin: 20px;
}

.Details-MovieTitle {
  font-size: 50px;
  font-family: 'Bungee Shade', cursive;
  color: black;
  padding: 0px 20px;
}

.Details-ImgGenreContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 20px;
}

.Details-AppBar {
  padding: 10px 20px;
}